<h1 class="welcome">WELCOME HOME</h1>
<article class="introduction border">
	<p>Welcome to Happy Horizons, a vibrant community where you can enjoy the ultimate living experience. Our apartment complex is a perfect blend of comfort, convenience, and luxury, offering a variety of spacious floor plans to fit your lifestyle. At Happy Horizons, we are committed to creating a welcoming and inclusive environment where you can connect with your neighbors and make lifelong friends. Our dedicated team of professionals is here to provide you with exceptional customer service
		and support, making sure you feel right at home. Come join our family and experience the best in apartment living at Happy Horizons.</p>
	<div class="contactDiv">
		<a class="btnLink1" href="/navigate/contactUs">Contact Us</a>
		<a class="btnLink1" download href="/rental_application.pdf">Download Application</a>
	</div>
</article>

<div class="swiper-container">
	<div class="swiper border">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="/images/slideshow/interior1.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/interior2.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/interior3.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/girlInPool.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/bubbles.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/kites.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/treadmills.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/businessCenter.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/kidsOnPlayground.jpg" /></div>
			<div class="swiper-slide"><img src="/images/slideshow/basketball.jpg" /></div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/swiperSlideShow.js"></script>