<main>

    <section>
        <h1 class="error">{{firstName}}, You are not authorized to use this page.</h1>
        <h3 class="warning">Repeated attempts at unauthorized access may result in local and legal ramifications.</h3>
        <button class="navButton" onclick="location.href='/'">Back to Home</button>
    </section>

</main>