/* ===== RESETS AND DEFAULTS ===== */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	background-color: var(--color6);
}
/* var() values for group coloring */
:root {
	--color1: white;
	--color2: black;
	--color3: #7bafd4;
	--color4: #333333c9;
	--color5: #00000033;
    --color6: #31475f;
    --color7: #ff9900;
	--h1: 2.5rem;
	--h2: 2rem;
	--h3: 1.5rem;
	--h4: 1.25rem;
	--h5: 1.1rem;
	--p: 1rem;
	--borderColor: #05050588;
	--border: 3px solid var(--bgColor);
	--bgColor: rgba(0, 0, 0, 0.562);
	--windowColor: #00000085;
    --colorGO: #00ff00;
	--hover: #ffff00;
	--error: #ff0000;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adminUserWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}
.adminText {
    color: var(--color1);
}
.user {
    color: var(--hover);
}
.error {
    color: var(--error) !important;
}
.warning {
    font-size: var(--h3);
    color: var(--hover);
}
.border {
	border: 1px solid var(--borderColor);
	box-shadow: 1px 1px 3px 1px;
}
.emptySpace {
    height: 50px;
    width: 100%;
}
.navButton {
    background-color: var(--color3);
	font-size: var(--h5);
	color: var(--color2);
	border-radius: 5px;
	padding: 0.25rem 0.25rem;
}
.navButton:hover {
    background-color: var(--color2);
    color: var(--color3);
    cursor: pointer;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.titleDiv {
    color: var(--color1);
}
.title h2, .adminTitle h2 {
    color: var(--color1);
    text-align: center;
}
.adminNavs {
    display: flex;
    flex-direction: row;
}
.adminNavBtns {
    margin: 0 20px;
    padding: 5px 10px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: var(--color7);
    background-color: var(--color2);
}
.adminNavBtns:hover {
    color: var(--color2);
    background-color: var(--color7);
    cursor: pointer;
    font-weight: bold;
}
.navLink {
    font-size: var(--h4);
    text-decoration: none;
    padding: 0 10px;
}
.navLink:hover {
    color: var(--hover);
}
.logoutSubmitBtn {
	background-color: var(--color3);
	font-size: var(--h5);
	color: var(--color2);
	border-radius: 5px;
	padding: 0.25rem 0.25rem;
}
.logoutSubmitBtn:hover {
	background-color: var(--color2);
	color: var(--color3);
	cursor: pointer;
}
.userWindow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.addNewUser, .deleteUser, .usersList {
    background-color: var(--windowColor);
    padding: 10px;
    border-radius: 10px;
}
table {
    margin-left: 10px;
}
th {
    background-color: var(--color3);
    text-decoration: underline;
    font-size: 16px;
    color: white;
    padding: 10px 0px;
}
.tableData {
    color: white;
    background-color: rgb(75, 75, 75);
    font-size: 14px;
    padding: 8px;
    border: 1px solid rgb(151, 151, 151);
}
td.tableData {
    padding: 5px 0;
    text-align: center;
}
td.tableData a {
    color: white;
    font-size: 14px;
    text-align: center;
}
input.tableData {
    width: 100%;
}
.updateTableDataBtn, .newUserBtn {
    color: var(--colorGO);
    background-color: var(--color2);
    font-size: 14px;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
}
.updateTableDataBtn:hover, .newUserBtn:hover {
    color: var(--color2);
    font-weight: bold;
    background-color: var(--colorGO);
    cursor: pointer;
}
.deleteUserBtn {
    color: var(--error);
    background-color: var(--color2);
    font-size: 14px;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
}
.deleteUserBtn:hover {
    color: var(--color2);
    font-weight: bold;
    background-color: var(--error);
    cursor: pointer;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--windowColor);
}
.modalImgContainer {
    position: fixed;
    z-index: 1;
    left: 33%;
    top: 25%;
    width: 33%;
    height: 50%;
    overflow: auto;
    background-color: var(--color3);
}
.modal-image {
    max-width: 90%;
    max-height: 90%;
    margin: 5% auto;
    display: block;
}

.close {
    color: var(--error);
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--error);
}
/* End Modal */